@model User

@{
    ViewData["Title"] = "Index";
}

<body>
    <h2>Index</h2>

    <h4>Link to:</h4>
    <ul>
        <li><a asp-controller="IngredientTypes" asp-action="Index">Ingredient overview</a></li>
        <li><a asp-controller="SubDishTypes" asp-action="Index">Catogories overview</a></li>
    </ul>
    
    

</body>


