@model WebInterface.Models.IngredientType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Edit @Model.Name</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IngredientTypeID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitSingular" class="control-label"></label>
                <input asp-for="UnitSingular" class="form-control" />
                <span asp-validation-for="UnitSingular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPlural" class="control-label"></label>
                <input asp-for="UnitPlural" class="form-control" />
                <span asp-validation-for="UnitPlural" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Go Back to Ingredients Overview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
