@{
    ViewData["Title"] = "Login";
}


<h2>Login</h2>

<form asp-action="Login">

    UserName:
    <input type="text" asp-for="UserName" />

    <br />
    <br />

    Password:
    <input type="text" asp-for="Password" />

    <br />
    <br />

    <input type="submit" value="Save" />
    
</form>
