
@{
    ViewData["Title"] = "Desserts";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<h2>Desserts</h2>

<p>
    <input type="button" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard" )'" />
</p>
<p>
    <input type="button" value="Go Back" onclick="location.href='@Url.Action("Main", "MenuCard" )'" />

