
@{
    ViewData["Title"] = "Drinks";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<h2>Drinks</h2>
<p>
    <input type="button" value="Procced To Starter" onclick="location.href='@Url.Action("Starters", "MenuCard" )'" />
</p>
<p>
    <input type="button" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard" )'" />
</p>

