
@{
    ViewData["Title"] = "FinalizedOrder";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";

}

<h2>FinalizedOrder</h2>

<p>
    <input type="button" value="Go Back" onclick="location.href='@Url.Action("OrderOverview", "MenuCard" )'" />
</p>

