@model GuestCodeWithModel<List<DishType>>
@{
    ViewData["Title"] = "OrderOverview";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}
<hr />

<h2>OrderOverview</h2>

<hr />

<ul>
    @foreach (DishType d in Model.Model)
    {
        <li> @d.Name  </li>
    }

</ul>

<hr />

@*<input type="button" value="Go back" onclick="location.href='@Url.Action("Starters", "MenuCard" )'" />*@

<input type="button" value="Finalized Order" onclick="location.href='@Url.Action("FinalizedOrder", "MenuCard", new { GuestCode = Model.GuestCode} )'" />