
@{
    ViewData["Title"] = "OrderOverview";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<h2>OrderOverview</h2>


    <input type="button" value="Go back" onclick="location.href='@Url.Action("Starters", "MenuCard" )'" />

    <input type="button" value="Finalized Order" onclick="location.href='@Url.Action("FinalizedOrder", "MenuCard" )'" />