
@{
    ViewData["Title"] = "OrderOverview";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<hr />

<h2>OrderOverview</h2>

<hr />

<ol>
    <table name="MainsTable" class="table">

        @foreach (DishType d in Model)
        {
            <tr>

                <td>
        <li>  @d.Name </li>
        </td>
        <td style="width:20%">
            [Customize]
        </td>


        <td style="width:50%">

            <div class="quantity buttons_added">
                <input id="minus" type="button" class="minus" value="-">
                <input id="theInput" type="number" size="3" class="input-text qty text" title="Qty" value="0" min="0" step="1">
                <input id="plus" type="button" class="plus" value="+">
            </div>
            <script>
                var input = document.getElementById('theInput');
                document.getElementById('plus').onclick = function () {
                    input.value = parseInt(input.value, 10) + 1
                }
                document.getElementById('minus').onclick = function () {

                    if (input.value > 0) { input.value = parseInt(input.value, 10) - 1 }
                    else if (input.value <= 0) { input.value = 0 }

                                            < !-- -->
            </script>
        </td>


        </tr>

    }
        </table>
    </ol>

<hr />

@*<input type="button" value="Go back" onclick="location.href='@Url.Action("Starters", "MenuCard" )'" />*@

<input type="button" value="Finalized Order" onclick="location.href='@Url.Action("FinalizedOrder", "MenuCard" )'" />