@model List<DishType>


@{
    ViewData["Title"] = "Starters";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<h2>Starters</h2>




<ol>
    @foreach (DishType d in Model)
    {
       <li> @d.Name  </li>
    }

</ol>

    
    <input type="button" value="Go Back" onclick="location.href='@Url.Action("Drinks", "MenuCard" )'" />


    <input type="button" value="Proced To Main Course" onclick="location.href='@Url.Action("Mains", "MenuCard" )'" />


    <input type="button" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard" )'" />


    


