
@{
    ViewData["Title"] = "Starters";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<h2>Starters</h2>


<p>
    <input type="button" value="Proced To Main Course" onclick="location.href='@Url.Action("Mains", "MenuCard" )'" />

</p>

<p>
    <input type="button" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard" )'" />
</p>
<p>
    <input type="button" value="Go Back" onclick="location.href='@Url.Action("Drinks", "MenuCard" )'" />
</p>

