@model WebInterface.Models.QRGeneration, WebInterface.Models.Table

@{
    ViewData["Title"] = "PrintQR";
}

<h2>Add a Table</h2>

<h4>Please choose the capacity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Table" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<h4>Select Table Number</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PrintQR">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Table_Number" class="control-label"></label>
                    <input asp-for="Table_Number" class="form-control" />
                    <span asp-validation-for="Table_Number" class="text-danger"></span>
                </div>*@



            @* Table selection dropdown *@
            <div class="form-group">
                @Html.LabelFor(m => m.Table_Number)
                @Html.DropDownListFor(m => m.Table_Number, // 1. Store selected value in Model.Table;
                                                                // when page is rendered after postback,
                                                                // take selected value from Model.Table.

                                             // 2. Take list of values from Model.Tables
                                             Model.Tables,

                                             // 3. Text for the first 'default' option
                                             "- Please select a table -",

                                             //4. A class name to assign to <select> tag
                                             new { @class = "form-control" })
            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

